* {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard_side {
  background-color: rgb(255, 254, 254);
  width: 80vw;
  margin-left: 40px;
  padding: 70px;
  border-left: 1px solid #eff0f375;
}
.dashboard_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
}

#log_transaction {
  background-color: rgb(41, 116, 228);
  color: rgb(233, 233, 233);
  border-radius: 5px;
  border: solid 1px rgb(231, 231, 231);
  text-align: center;
  padding: 10px 20px;
}
.list_overview {
  margin-top: 100px;
}
.list_expenses {
  margin-top: 50px;
}
