* {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 18px;
    background-color: lightpink;
}

.login-form {
    background-color: cornsilk;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    ;
}

.username-component,
.password-component {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

input {
    height: 30px;
}

.btn-component {
    background-color: aqua;
    width: 50%;
    height: auto;
    text-align: center;
}

#btn-login {
    padding: 20px 40px;
    color: blueviolet;
    font-weight: bold;
    font-size: larger;
    background-color: azure;
    border-color: blueviolet;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}