.transaction_title{
    display: flex;
    flex-direction: column;
     margin-left: 20px;
}
.transaction_head{
    display: flex;
    flex-direction: row;
    align-items: center;

}
h2 {
    margin: 0px;
}

#transaction_date{
   margin: 0px;
   font-size: 14px;
   color: gray;
}
.transaction_amount{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-end;
    margin: 0px;
}
/* .category_mark{
    width: 10px;
    height: 70px;
    background-color: aqua
    border-radius: 10px 0px 0px 10px;
    margin-left: -40px;
    margin-right: 30px;
} */