.card{
    height: 70px;
    background-color: rgb(255, 255, 255);
    border: solid 1px  rgb(231, 231, 231);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}